
      <nav class="navbar navbar-default" href="/" >
        <a href="#" class="pull-left"><img src="/assets/photos/logo.png" height=55 width=55></a> 
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand"href="/" style="color:#fff">PizzItalia</a>
          </div>
          
          <ul class="nav navbar-nav navbar-right">
            <li><a style="color: #fff" href="/register" *ngIf="!service.loggedIn()"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
            <li><a style="color: #fff"href="/login" *ngIf="!service.loggedIn()"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
           <li> <a href="#" style="color:white"  *ngIf="service.loggedIn()" role="button">{{displayName()}}</a></li>
            <li><a style="color: #fff" *ngIf="service.loggedIn()" (click)="service.logoutUser()"><span class="glyphicon glyphicon-log-out"   ></span> Logout</a></li>
          </ul>
        </div>
      </nav>
    <div id="landing-header">
 		<h1>Welcome to PizzItalia!</h1>
     <h3>-From the farm to the pan</h3>
		
        <a routerLink="/pizza" class="btn btn-lg btn-success" routerLinkActive="active" >View Menu/Order</a>
    </div>
    
    <ul class="slideshow">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>
 
  
