
.navbar.navbar-default{
    background:transparent;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.nav a:hover {
  border-bottom: 1px solid white;
}
.img{
  height:50px;
  width:50px;
}
.btn.btn-success{
  margin: 5px;
  }
.btn.btn-danger{
  margin:5px;
}

#main{
  margin: 1.66%;
  border-style: groove;
}
body{
  font-size: 15px;
}

.row-md{
  padding: 2px;
}
strong{
  padding: 5px;
}
#Abb{
  border-style: groove;
}
