* {
    /* background-color: rgb(44, 97, 97); */
    /* background-size: 200%; */
  
    text-align: center;
  }
  .image {
    background-image: url("../../../assets/photos/bckgrd.jpg");
    image-resolution: 200%;
    opacity: 100%;
    background-size: cover;
    filter: blur(0.5px);
    position:fixed;
  }
  
  .text-center {
    text-align: center;
    color: brown;
  }
  .w-100 {
    text-align: center;
    width: 70%;
    outline: black;
    border-radius: 10px;
    appearance: outline;
  }
  .col-sm-5 {
    text-align: center;
    border: 5px;
    color: blue;
  }
  .Container {
    border: 10px;
   
  }
  .container {
    flex-direction: column;
    position:fixed;
  }
  
  .right {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    height: 100%;
    /* background-color: darkslategray; */
    align-items: flex-end;
  }
  .left {
    width: 50%;
    display: flex;
    background-color: lightcoral;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-size: 0vmax;
    height: 100%;
  }
  
  .card {
    border-style: solid;
    border-width: 1px;
    height: auto;
    text-align: center;
    margin: 0 auto;
    width: 400px;
    min-width: 600px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    align-self: center;
    vertical-align: middle;
  }
  